@define-color background    #16161e;
@define-color module        #1a1b26;
@define-color hover         #30374b;
@define-color foreground    #a9b1d6;
@define-color white         #c0caf5;
@define-color gray          #565f89;
@define-color black         #414868;
@define-color red           #f7768e;
@define-color orange        #ff9e64;
@define-color yellow        #e0af68;
@define-color lgtgreen      #9ece6a;
@define-color green         #73daca;
@define-color cyan          #7dcfff;
@define-color blue          #7aa2f7;
@define-color magenta       #bb9af7;

* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    min-height: 0;
    min-width: 0;
}

window#waybar {
    background-color: @background; 
}

#workspaces {
    background-color: @module;
    border-radius: 5px;
    margin: 5px;
    margin-left: 10px;
}

#workspaces button {
    border-radius: 5px;
    color: @foreground;
    padding: 0 10px;
}

#workspaces button.persistent {
    color: @gray;
}

#workspaces button.focused {
    color: @blue;
}

#workspaces button.urgent {
    color: @red;
}

#clock,
#temperature,
#cpu,
#memory,
#disk,
#pulseaudio,
#network,
#battery,
#language,
#idle_inhibitor,
#tray {
    background-color: @module;
    color: @foreground;
    margin: 5px 0px;
    padding: 0 10px;
}

#clock {
    border-radius: 5px;
    margin-right: 10px;
}

#temperature {
    border-radius: 5px 0px 0px 5px;
    color: @red;
}

#cpu {
    color: @orange;
}

#memory {
    color: @yellow;
}

#disk {
    border-radius: 0px 5px 5px 0px;
    color: @lgtgreen;
    margin-right: 10px;
}

#pulseaudio { 
    color: @green;
    border-radius: 5px 0px 0px 5px;
}

#network {
    color: @blue;
}

#battery {
    border-radius: 0px 5px 5px 0px;
    color: @magenta;
    margin-right: 10px;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#language {
    padding: 0 5px;
    margin-right: 10px;
    min-width: 16px;
    border-radius: 5px;
}

#idle_inhibitor {
    padding: 0 5px;
    margin-right: 10px;
    min-width: 16px;
    border-radius: 5px;
}

#idle_inhibitor.activated {
    color: @white;
}

#tray {
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#custom-power {
    background-color: @red;
    color: @hover;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px 0px;
    margin-right: 10px;
}
