* {
    background-image: none;
}
window {
    background-color: #16161e; 
}
button {
    color: #a9b1d6;
    font-family: "monospace";
	font-weight: 600;
    background-color: #191c29;

    border-radius: 0px;
    border-style: none;
    border-width: 0px;
	
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    color: #24283b;
    background-color: #7aa2f7;
    outline-style: solid;
}

#lock {
    background-image: image(url("Icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("Icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("Icons/pause.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("Icons/sleep.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("Icons/power.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("Icons/restart.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
